.cards{
    display: flex;
    margin-top: 20px;
    margin-left: 160px;
}
.card1{
    height: 220px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
    border-radius: 20px;
}
.card2{
    height: 220px;
    width: 250px;
    margin-left: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
    border-radius: 20px;
    
}
.card3{
    height: 220px;
    width: 250px;
    margin-left: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
    border-radius: 20px;
}
.card4{
    height: 220px;
    width: 250px;
    margin-left: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
    border-radius: 20px;
}
.Progress{
    height: 125px;
    width: 125px;
    margin-left: 60px;
}
h2{
    margin-left: 95px;
}
